# Python for Data Science - Final Project - Team 4
## Performance Analysis of Fast Food Companies in the Stock Market

### Getting Started
This notebook is designed to provide a structured approach to exploring and analyzing the datasets of 10 major fast-food companies.
Each dataset contains daily stock market data with information on opening price, closing price, trading volume, and other financial metrics.

### Objective
The primary goal of this notebook is to perform a comprehensive analysis of the stock market performance of these companies over the years. Through this analysis, we aim to:

1. Understand the structure and content of the datasets
2. Explore key metrics such as price trends, trading volumees, and price spreads
3. Visualize and interrupt important patterns and relationships in the data
4. Summarize insights that reveal the financial dynamics of the fast-food industry

### Dataset Overview
The datasets include the following companies:

- BRK-A: Berkshire Hathaway Inc.
- DNUT: Krispy Kreme, Inc.
- DPZ: Domino’s Pizza, Inc.
- LKNCY: Luckin Coffee Inc.
- MCD: McDonald’s Corporation
- PZZA: Papa John’s International, Inc.
- QSR: Restaurant Brands International, Inc.
- SBUX: Starbucks Corporation
- WEN: The Wendy’s Corporation
- YUM: Yum! Brands, Inc.

Each dataset contains the following columns:

- *Date*: Trading date.
- *Open*: Opening price.
- *High*: Highest price during the session.
- *Low*: Lowest price during the session.
- *Close*: Closing price.
- *Adj Close*: Adjusted closing price (accounting for dividends and stock splits).
- *Volume*: Number of shares traded during the session.

---

# Data Preprocessing Summary

## Preprocessing Steps

1. **Missing Volume Handling**:
   - Replaced missing values in the `Volume` column using a 7-day rolling mean.

2. **Missing Values Imputation**:
   - For columns `['Open', 'High', 'Low', 'Close', 'Adj Close']`:
     - Replaced outliers (Z-score > 3 or < -3) with the rolling median (7-day window).
     - Imputed any remaining missing values using the rolling median.

3. **Erroneous Values Correction**:
   - Checked for rows where `Low >= High`:
     - Replaced `Low` values with a 7-day rolling mean.
     - Ensured that `Low` values do not exceed corresponding `High` values by adjusting `Low` to equal `High` where necessary.

4. **Zero Volume Handling**:
   - For rows where `Volume == 0`:
     - If price columns (`['Open', 'High', 'Low', 'Close']`) had different values, replaced them with the mode (most common value).

5. **Uniform Price Handling**:
   - Identified rows where all price columns (`['Open', 'High', 'Low', 'Close']`) were identical:
     - If `Volume` was NaN, replaced it with `0.0`.

6. **Duplicate Dates Check**:
   - Checked for duplicate dates in the `Date` column:
     - Reported the count of duplicates and displayed duplicate rows if found.
     - If no duplicates, confirmed the absence of duplicate dates.

7. **Output**:
   - Saved the cleaned DataFrame for each ticker into a dictionary (`dfs`) for further analysis.

## Key Points
- Used rolling statistics (mean and median) for robust handling of missing values and outliers.
- Ensured consistency in `Low` and `High` values.
- Imputed `Volume` as `0.0` for rows with identical price columns and missing volume.

In [18]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
import numpy as np

# Adding the files into a list
files=['/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/BRK-A.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/DNUT.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/DPZ.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/LKNCY.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/MCD.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/PZZA.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/QSR.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/SBUX.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/WEN.csv',
       '/Users/marioscontopoulos/Downloads/ProjectDatasets/Team_4/YUM.csv']

i=0

# Step 1: Create a list to store the DataFrames
dfs = {}
tickers = ['BRK-A', 'DNUT', 'DPZ', 'LKNCY', 'MCD', 'PZZA', 'QSR', 'SBUX', 'WEN', 'YUM']

for ticker, file in zip(tickers, files):

    # Step 1: Load the dataset
    df = pd.read_csv(file, index_col=False)

    print(df.isnull().sum())

    print('initialdataset',df.head(16))

    # Handling Missing Volume
    df['Volume'] =df['Volume'].fillna(df['Volume'].rolling(window=7, min_periods=1).mean())

    
    # Impute missing values for each column using rolling mean
    columns_to_impute = ['Open', 'High', 'Low', 'Close', 'Adj Close']
    # Handling Outliers
    for column in columns_to_impute:
        # Calculate mean and standard deviation
        mean = df[column].mean()
        std_dev = df[column].std()

        # Calculate Z-scores
        z_scores = (df[column] - mean) / std_dev

        # Identify outlier indices (Z-score > 3 or < -3)
        outlier_indices = df[np.abs(z_scores) > 3].index

        # Replace outliers with the rolling median
        for idx in outlier_indices:
            df.at[idx, column] = df[column].rolling(window=7, min_periods=1).median().iloc[idx]

        # Fill any remaining missing values with rolling median
        df[column] = df[column].fillna(df[column].rolling(window=7, min_periods=1).median())

   

    
    # Step 1: Check for rows where Low >= High
    erroneous_rows = df['Low'] >= df['High']

    # Step 2: Replace erroneous values with the column's average
    low_avg = df['Low'].rolling(window=7, min_periods=1).mean()
    
    df.loc[erroneous_rows, 'Low'] = low_avg
    #INCLUDE IF AVERAGE OF LOW IS HIGHER THAN HIGH VALUE, THEN REPLCAE THE LOW WITH THE HIGH VALUE SO THEY ARE THE SAME

    # Step 1: Identify rows where Volume == 0
    volume_zero_rows = df['Volume'] == 0

    # Step 2: Apply the logic to each row where Volume is 0
    for index, row in df[volume_zero_rows].iterrows():
        # Step 3: Check if any of Open, High, Low, or Close are different
        values = ['Open', 'High', 'Low', 'Close']
        values_dict = row[values]

        # If any value is different, replace it with the common value
        unique_values = values_dict.unique()
        if len(unique_values) > 1:  # More than one unique value means there is a difference
            common_value = values_dict.mode()[0]  # Find the most common value
            for col in values:
                if row[col] != common_value:
                    df.at[index, col] = common_value  # Replace with the common value


    # Step 1: Identify rows where all price columns are the same
    price_columns = ['Open', 'High', 'Low', 'Close']
    price_same_rows = (df[price_columns].nunique(axis=1) == 1)  # Check if all values are the same across price columns

    # Step 2: Check if Volume is NaN for those rows
    volume_empty_rows = price_same_rows & df['Volume'].isna()

    # Step 3: Replace NaN Volume with 0.0 (in float) for those rows
    df.loc[volume_empty_rows, 'Volume'] = 0.0
  

    print('Finaldataset',df.head(16))

    # Check for duplicate dates
    if 'Date' in df.columns:
        duplicate_dates = df['Date'].duplicated().sum()
        if duplicate_dates > 0:
            print(f"There are {duplicate_dates} duplicate date(s).")
            print("Duplicate rows:")
            print(df[df['Date'].duplicated(keep=False)])
        else:
            print("No duplicate dates found.")
    else:
        print("The column 'Date' does not exist in the DataFrame.")

    dfs[ticker]=df

Date           0
Open         548
High         550
Low          550
Close        550
Adj Close    544
Volume       561
dtype: int64
initialdataset           Date   Open          High           Low  Close     Adj Close  \
0   1980-03-17  290.0  3.100000e+02  2.900000e+02  290.0  2.900000e+02
1   1980-03-18  290.0  2.900000e+02  2.900000e+02  290.0  2.900000e+02
2   1980-03-19  290.0  3.100000e+02  2.900000e+02  290.0  2.900000e+02
3   1980-03-20  290.0  2.900000e+02  2.900000e+02  290.0  2.900000e+02
4   1980-03-21  290.0  2.900000e+02  2.900000e+02  290.0  2.900000e+02
5   1980-03-24  290.0  2.900000e+02  2.700000e+02  270.0           NaN
6   1980-03-25  270.0  2.700000e+02  2.700000e+02  270.0  2.700000e+02
7   1980-03-26  270.0  2.700000e+02  2.700000e+02  270.0  2.700000e+02
8   1980-03-27  270.0  2.700000e+02  2.700000e+02  270.0  2.700000e+02
9   1980-03-28  270.0  2.700000e+02  2.700000e+02  270.0  2.700000e+02
10  1980-03-31  270.0  2.800000e+02  2.600000e+02  260.0  2.600000e+02
11  1980-04-01  260.0  2.800000e+02  2.600000e+02  260.0  2.600000e+02
12  1980-04-02  260.0  2.600000e+02  2.600000e+02  260.0  2.600000e+02
13  1980-04-03  260.0           NaN  1.190691e+06  260.0  2.600000e+02
14  1980-04-07  265.0  1.203032e+06  2.650000e+02  265.0  1.194910e+06
15  1980-04-08  265.0  2.850000e+02  1.190691e+06  265.0  2.650000e+02

     Volume
0   10000.0
1       0.0
2       NaN
3       0.0
4       0.0
5   10000.0
6       0.0
7       0.0
8       0.0
9       0.0
10  10000.0
11  30000.0
12      0.0
13  10000.0
14      NaN
15  10000.0
Finaldataset           Date   Open   High         Low  Close  Adj Close        Volume
0   1980-03-17  290.0  310.0  290.000000  290.0      290.0  10000.000000
1   1980-03-18  290.0  290.0  290.000000  290.0      290.0      0.000000
2   1980-03-19  290.0  310.0  290.000000  290.0      290.0   5000.000000
3   1980-03-20  290.0  290.0  290.000000  290.0      290.0      0.000000
4   1980-03-21  290.0  290.0  290.000000  290.0      290.0      0.000000
5   1980-03-24  290.0  290.0  270.000000  270.0      290.0  10000.000000
6   1980-03-25  270.0  270.0  270.000000  270.0      270.0      0.000000
7   1980-03-26  270.0  270.0  270.000000  270.0      270.0      0.000000
8   1980-03-27  270.0  270.0  270.000000  270.0      270.0      0.000000
9   1980-03-28  270.0  270.0  270.000000  270.0      270.0      0.000000
10  1980-03-31  270.0  280.0  260.000000  260.0      260.0  10000.000000
11  1980-04-01  260.0  280.0  260.000000  260.0      260.0  30000.000000
12  1980-04-02  260.0  260.0  260.000000  260.0      260.0      0.000000
13  1980-04-03  260.0  270.0  265.714286  260.0      260.0  10000.000000
14  1980-04-07  265.0  275.0  265.000000  265.0      260.0   8333.333333
15  1980-04-08  265.0  285.0  265.000000  265.0      265.0  10000.000000
There are 5 duplicate date(s).
Duplicate rows:
             Date      Open      High       Low     Close  Adj Close   Volume
2712   1990-12-06    6525.0    6700.0    6525.0    6525.0     6525.0  44000.0
3813   1995-04-17   22550.0   22600.0   22450.0   22450.0    22450.0   3000.0
7262   2008-12-24   94700.0   95000.0   93300.0   94000.0    94000.0  29900.0
7869   2011-05-24  117000.0  117349.0  116375.0  116375.0   116375.0  31100.0
9949   2019-08-29  303400.0  305975.0  303100.0  305040.0   305040.0    300.0
11222  2019-08-29  303400.0  305975.0  303100.0  305040.0   305040.0    300.0
11223  2011-05-24  117000.0  117349.0  116375.0  116375.0   116375.0  31100.0
11224  1995-04-17   22550.0  683864.5   22450.0   22450.0    22450.0   3000.0
11225  2008-12-24   94700.0   95000.0   93300.0   94000.0    94000.0  29900.0
11226  1990-12-06    6525.0    6700.0    6525.0    6525.0     6525.0  44000.0
Date          0
Open         40
High         39
Low          39
Close        40
Adj Close    40
Volume       41
dtype: int64
initialdataset           Date       Open        High        Low      Close  Adj Close  \
0   2021-07-01  16.299999   21.690001  15.500000  21.000000  20.361467
1   2021-07-02  19.854000  140.148594  18.320000  19.120001  18.538637
2   2021-07-06  18.900000   19.120001  17.000000  17.000000        NaN
3   2021-07-07  17.289000   18.160000        NaN  17.780001  17.239378
4   2021-07-08  17.250000   18.350000  17.000000        NaN  17.646606
5   2021-07-09  18.370001   20.000000  18.370001  19.290001  18.703466
6   2021-07-12  19.700001   20.059999  17.820000  18.059999  17.510862
7   2021-07-13  18.250000   18.645000  17.500000  17.600000  17.064848
8   2021-07-14  17.650000   17.969999  17.150000  17.219999  16.696407
9   2021-07-15  17.330000   17.530001  16.990000  17.110001  16.589750
10  2021-07-16  17.020000   17.330000        NaN  17.040001        NaN
11  2021-07-19  16.610001   17.000000        NaN  16.959999  16.444307
12  2021-07-20  17.010000   17.100000  16.250000  16.590000        NaN
13  2021-07-21  16.500000         NaN  16.080000  16.280001  15.784989
14  2021-07-22  16.049999   16.280001  15.790000  16.070000  15.581372
15  2021-07-23  15.960000  140.148594  15.550000  16.709999  16.201910

        Volume
0   40888200.0
1    8631400.0
2    3973000.0
3    3213500.0
4    5448300.0
5    3951200.0
6    2665200.0
7    2567600.0
8    1456100.0
9     828600.0
10   1209800.0
11   1425400.0
12   1181000.0
13   1988900.0
14   1695500.0
15   2008900.0
Finaldataset           Date       Open       High        Low      Close  Adj Close  \
0   2021-07-01  16.299999  21.690001  15.500000  21.000000  20.361467
1   2021-07-02  19.854000  80.919297  18.320000  19.120001  18.538637
2   2021-07-06  18.900000  19.120001  17.000000  17.000000  19.450052
3   2021-07-07  17.289000  18.160000  17.000000  17.780001  17.239378
4   2021-07-08  17.250000  18.350000  17.000000  18.450001  17.646606
5   2021-07-09  18.370001  20.000000  18.370001  19.290001  18.703466
6   2021-07-12  19.700001  20.059999  17.820000  18.059999  17.510862
7   2021-07-13  18.250000  18.645000  17.500000  17.600000  17.064848
8   2021-07-14  17.650000  17.969999  17.150000  17.219999  16.696407
9   2021-07-15  17.330000  17.530001  16.990000  17.110001  16.589750
10  2021-07-16  17.020000  17.330000  17.325000  17.040001  17.287855
11  2021-07-19  16.610001  17.000000  17.522143  16.959999  16.444307
12  2021-07-20  17.010000  17.100000  16.250000  16.590000  16.696407
13  2021-07-21  16.500000  17.430000  16.080000  16.280001  15.784989
14  2021-07-22  16.049999  16.280001  15.790000  16.070000  15.581372
15  2021-07-23  15.960000  17.215000  15.550000  16.709999  16.201910

        Volume
0   40888200.0
1    8631400.0
2    3973000.0
3    3213500.0
4    5448300.0
5    3951200.0
6    2665200.0
7    2567600.0
8    1456100.0
9     828600.0
10   1209800.0
11   1425400.0
12   1181000.0
13   1988900.0
14   1695500.0
15   2008900.0
There are 5 duplicate date(s).
Duplicate rows:
           Date   Open       High    Low      Close  Adj Close     Volume
8    2021-07-14  17.65  17.969999  17.15  17.219999  16.696407  1456100.0
117  2021-12-16  16.01  16.299999  15.35  15.590000  15.156902   843800.0
552  2023-09-12  13.18  13.320000  12.87  12.870000  12.728353   989500.0
594  2023-11-09  12.50  12.710000  11.52  12.560000  12.455533  1042400.0
706  2024-04-23  13.29  13.545000  13.13  13.170000  13.127981  2233300.0
810  2021-07-14  17.65  17.969999  17.15  17.219999  16.696407  1456100.0
811  2024-04-23  13.29  13.545000  13.13  13.170000  13.127981  2233300.0
812  2021-12-16  16.01  16.299999  15.35  15.590000  15.156902   843800.0
813  2023-09-12  13.18  13.320000  12.87  12.870000  12.728353   989500.0
814  2023-11-09  12.50  12.710000  11.52  12.560000  12.455533  1282400.0
Date           0
Open         248
High         248
Low          249
Close        252
Adj Close    246
Volume       255
dtype: int64
initialdataset           Date   Open   High          Low  Close  Adj Close      Volume
0   2004-07-13  14.00  14.10    13.490000    NaN   6.144002  14964100.0
1   2004-07-14  13.50  13.55    12.910000  13.44   6.116695   2801000.0
2   2004-07-15  13.45  13.85    13.350000  13.84   6.298741   1276200.0
3   2004-07-16  13.87  13.90  1542.748655  13.83   6.294190   1488200.0
4   2004-07-19  13.80  13.80    13.350000  13.52   6.153106    966200.0
5   2004-07-20  13.52  13.93    13.410000  13.93   6.339701    719300.0
6   2004-07-21  13.94  13.94    13.500000  13.60   6.189514    472300.0
7   2004-07-22  13.60  13.65    13.330000  13.60   6.189514    218500.0
8   2004-07-23  13.40  13.62    13.400000    NaN   6.171309    268500.0
9   2004-07-26  13.50  13.50    13.050000  13.20   6.007469    236200.0
10  2004-07-27  13.20  13.20    12.400000  12.75   5.802670   2668000.0
11  2004-07-28  12.85  13.12    12.840000  13.03        NaN   1028100.0
12  2004-07-29  13.10  13.78    13.100000  13.78   6.271434   1015700.0
13  2004-07-30  13.72  13.90    13.550000  13.90   6.326049    623000.0
14  2004-08-02  13.80  13.80    13.550000    NaN   6.235025    329400.0
15  2004-08-03  13.70  14.08    13.700000  13.94   6.344252   1557100.0
Finaldataset           Date   Open   High    Low   Close  Adj Close      Volume
0   2004-07-13  14.00  14.10  13.49     NaN   6.144002  14964100.0
1   2004-07-14  13.50  13.55  12.91  13.440   6.116695   2801000.0
2   2004-07-15  13.45  13.85  13.35  13.840   6.298741   1276200.0
3   2004-07-16  13.87  13.90  13.42  13.830   6.294190   1488200.0
4   2004-07-19  13.80  13.80  13.35  13.520   6.153106    966200.0
5   2004-07-20  13.52  13.93  13.41  13.930   6.339701    719300.0
6   2004-07-21  13.94  13.94  13.50  13.600   6.189514    472300.0
7   2004-07-22  13.60  13.65  13.33  13.600   6.189514    218500.0
8   2004-07-23  13.40  13.62  13.40  13.715   6.171309    268500.0
9   2004-07-26  13.50  13.50  13.05  13.200   6.007469    236200.0
10  2004-07-27  13.20  13.20  12.40  12.750   5.802670   2668000.0
11  2004-07-28  12.85  13.12  12.84  13.030   6.180412   1028100.0
12  2004-07-29  13.10  13.78  13.10  13.780   6.271434   1015700.0
13  2004-07-30  13.72  13.90  13.55  13.900   6.326049    623000.0
14  2004-08-02  13.80  13.80  13.55  13.200   6.235025    329400.0
15  2004-08-03  13.70  14.08  13.70  13.940   6.344252   1557100.0
There are 5 duplicate date(s).
Duplicate rows:
            Date        Open        High         Low       Close   Adj Close  \
538   2006-08-29   23.889999   24.350000   23.799999   24.049999   11.300438
3541  2018-08-03  277.500000  279.869995  273.910004  279.500000  261.498383
3667  2019-02-05  281.149994  289.579987  281.149994  289.290009  262.854340
4326  2021-09-16  506.940002  512.710022  502.549988  511.209991  492.294586
5043  2024-07-25  423.839996  426.109985  417.230011  425.170013  423.588074
5083  2018-08-03  277.500000  279.869995  273.910004  279.500000  261.498383
5084  2006-08-29   23.889999   24.350000   23.799999   24.049999   11.300438
5085  2021-09-16  506.940002  512.710022  502.549988  511.209991  492.294586
5086  2024-07-25  423.839996  426.109985  417.230011  425.170013  423.588074
5087  2019-02-05  415.369995  289.579987  281.149994  411.709991  410.364990

        Volume
538   445500.0
3541  613800.0
3667  656900.0
4326  402300.0
5043  958100.0
5083  613800.0
5084  445500.0
5085  402300.0
5086  958100.0
5087  565200.0
Date          0
Open         67
High         66
Low          64
Close        66
Adj Close    68
Volume       67
dtype: int64
initialdataset           Date       Open        High        Low      Close  Adj Close  \
0   2019-05-17  25.020000   25.959999  18.809999  20.379999  20.379999
1   2019-05-20  21.020000   21.020000  18.400000  18.610001  18.610001
2   2019-05-21  18.590000   18.740000  17.330000  17.330000  17.330000
3   2019-05-22  17.000000   17.330000  14.700000  14.750000  14.750000
4   2019-05-23  14.470000   15.950000  13.710000  15.790000  15.790000
5   2019-05-24  15.440000   15.700000  14.770000        NaN  15.320000
6   2019-05-28        NaN   16.320000  15.280000  16.110001  16.110001
7   2019-05-29  16.000000   17.780001  15.990000  17.250000  17.250000
8   2019-05-30  17.610001  182.140927  17.445000  18.500000  18.500000
9   2019-05-31  18.400000   20.389999  17.750000  20.100000  20.100000
10  2019-06-03  21.500000   22.299999  20.100000  20.629999  20.629999
11  2019-06-04  21.000000   21.070000  19.059999  19.790001  19.790001
12  2019-06-05  19.930000   20.160000  17.809999  18.650000  18.650000
13  2019-06-06  18.020000   18.190001  17.129999  17.680000  17.680000
14  2019-06-07  18.000000   19.030001  17.809999  18.990000  18.990000
15  2019-06-10  19.200001   19.290001  18.320000  18.450001  18.450001

        Volume
0   38937500.0
1    8186600.0
2    8572300.0
3   19697300.0
4    9626500.0
5    4829800.0
6    4576400.0
7    7583500.0
8    8872800.0
9    7524000.0
10  10498900.0
11   5814000.0
12   5083600.0
13   3971500.0
14   4788700.0
15   3572700.0
Finaldataset           Date       Open       High        Low      Close  Adj Close  \
0   2019-05-17  25.020000  25.959999  18.809999  20.379999  20.379999
1   2019-05-20  21.020000  21.020000  18.400000  18.610001  18.610001
2   2019-05-21  18.590000  18.740000  17.330000  17.330000  17.330000
3   2019-05-22  17.000000  17.330000  14.700000  14.750000  14.750000
4   2019-05-23  14.470000  15.950000  13.710000  15.790000  15.790000
5   2019-05-24  15.440000  15.700000  14.770000  17.330000  15.320000
6   2019-05-28  17.795000  16.320000  15.280000  16.110001  16.110001
7   2019-05-29  16.000000  17.780001  15.990000  17.250000  17.250000
8   2019-05-30  17.610001  17.330000  15.603571  18.500000  18.500000
9   2019-05-31  18.400000  20.389999  17.750000  20.100000  20.100000
10  2019-06-03  21.500000  22.299999  20.100000  20.629999  20.629999
11  2019-06-04  21.000000  21.070000  19.059999  19.790001  19.790001
12  2019-06-05  19.930000  20.160000  17.809999  18.650000  18.650000
13  2019-06-06  18.020000  18.190001  17.129999  17.680000  17.680000
14  2019-06-07  18.000000  19.030001  17.809999  18.990000  18.990000
15  2019-06-10  19.200001  19.290001  18.320000  18.450001  18.450001

        Volume
0   38937500.0
1    8186600.0
2    8572300.0
3   19697300.0
4    9626500.0
5    4829800.0
6    4576400.0
7    7583500.0
8    8872800.0
9    7524000.0
10  10498900.0
11   5814000.0
12   5083600.0
13   3971500.0
14   4788700.0
15   3572700.0
There are 5 duplicate date(s).
Duplicate rows:
            Date   Open       High        Low      Close  Adj Close  \
111   2019-10-24  21.17  21.860001  21.090000  21.469999  21.469999
267   2020-06-09   4.28   4.740000   4.080000   4.290000   4.050000
315   2020-08-17   2.30   2.310000   2.230000   2.260000   2.260000
902   2022-12-14  23.50  23.889999  23.230000  23.650000  23.650000
1138  2023-11-22  31.74  32.669998  31.740000  32.439999  32.439999
1345  2022-12-14  23.50  23.889999  23.230000  23.650000  23.650000
1346  2020-06-09   4.28   4.740000   4.080000   4.290000  19.065000
1347  2019-10-24  21.17  21.860001  21.090000  21.469999  21.469999
1348  2023-11-22  31.74  32.669998  19.309999  32.439999  32.439999
1349  2020-08-17   2.30   2.310000   2.230000   2.260000   2.260000

          Volume
111    2475400.0
267   47308500.0
315    1255900.0
902     699400.0
1138   3260300.0
1345    699400.0
1346  47308500.0
1347   2475400.0
1348   3260300.0
1349   1255900.0
Date           0
Open         708
High         716
Low          709
Close        712
Adj Close    717
Volume       733
dtype: int64
initialdataset           Date        Open      High       Low       Close  Adj Close  \
0   1966-07-05    0.000000  0.273663  0.267490    0.269547   0.115991
1   1966-07-06    0.000000  0.283951  0.267490    0.283951   0.122190
2   1966-07-07    0.000000  0.291152  0.271605    0.273663   0.117762
3   1966-07-08    0.000000  0.276749  0.267490    0.276749   0.119090
4   1966-07-11    0.000000  0.283951       NaN    0.275720   0.118648
5   1966-07-12    0.000000  0.273663  0.270576    0.271605   0.116877
6   1966-07-13    0.000000  0.274691  0.269547    0.270576   0.116434
7   1966-07-14    0.000000       NaN  0.267490  507.464719   0.115106
8   1966-07-15  505.458571  0.268519  0.263374    0.263374   0.113335
9   1966-07-18    0.000000  0.271605  0.261317    0.263374        NaN
10  1966-07-19    0.000000  0.263374  0.259259    0.259259   0.111564
11  1966-07-20    0.000000  0.262346  0.255144    0.257202   0.110679
12  1966-07-21    0.000000  0.259259  0.250000    0.250000   0.107580
13  1966-07-22    0.000000       NaN  0.246914    0.250000   0.107580
14  1966-07-25    0.000000  0.250000  0.237654    0.237654   0.102267
15  1966-07-26    0.000000  0.241770       NaN    0.234568   0.100939

       Volume
0         NaN
1    692550.0
2   1858950.0
3   1239300.0
4    656100.0
5    303750.0
6    291600.0
7    328050.0
8    376650.0
9    607500.0
10   413100.0
11   230850.0
12   230850.0
13   303750.0
14   510300.0
15   328050.0
Finaldataset           Date  Open      High       Low     Close  Adj Close     Volume
0   1966-07-05   0.0  0.273663  0.267490  0.269547   0.115991        NaN
1   1966-07-06   0.0  0.283951  0.267490  0.283951   0.122190   692550.0
2   1966-07-07   0.0  0.291152  0.271605  0.273663   0.117762  1858950.0
3   1966-07-08   0.0  0.276749  0.267490  0.276749   0.119090  1239300.0
4   1966-07-11   0.0  0.283951  0.267490  0.275720   0.118648   656100.0
5   1966-07-12   0.0  0.273663  0.270576  0.271605   0.116877   303750.0
6   1966-07-13   0.0  0.274691  0.269547  0.270576   0.116434   291600.0
7   1966-07-14   0.0  0.280350  0.267490  0.275720   0.115106   328050.0
8   1966-07-15   0.0  0.268519  0.263374  0.263374   0.113335   376650.0
9   1966-07-18   0.0  0.271605  0.261317  0.263374   0.116655   607500.0
10  1966-07-19   0.0  0.263374  0.259259  0.259259   0.111564   413100.0
11  1966-07-20   0.0  0.262346  0.255144  0.257202   0.110679   230850.0
12  1966-07-21   0.0  0.259259  0.250000  0.250000   0.107580   230850.0
13  1966-07-22   0.0  0.263374  0.246914  0.250000   0.107580   303750.0
14  1966-07-25   0.0  0.250000  0.237654  0.237654   0.102267   510300.0
15  1966-07-26   0.0  0.241770  0.251837  0.234568   0.100939   328050.0
There are 5 duplicate date(s).
Duplicate rows:
             Date        Open        High        Low      Close  Adj Close  \
1225   1971-06-23    0.663580    0.679012   0.663580   0.674383   0.290996
1662   1973-03-19    1.679012    1.679012   1.638889   1.648148   0.711174
2869   1977-12-27    1.296296    1.296296   1.287037   1.293210   0.560901
2996   1978-06-28    1.314815    1.327160   1.305556   1.320988   0.574590
12257  2015-03-17   96.900002   97.150002  95.989998  96.169998  75.675980
14652  1978-06-28    1.314815  296.739990   1.305556   1.320988   0.574590
14653  1977-12-27  294.489990    1.296296   1.287037   1.293210   0.560901
14654  1973-03-19    1.679012    1.679012   1.638889   1.648148   0.711174
14655  1971-06-23    0.663580    0.679012   0.663580   0.674383   0.290996
14656  2015-03-17   96.900002   97.150002  95.989998  96.169998  75.675980

          Volume
1225   2705400.0
1662   1255500.0
2869    870750.0
2996   1858950.0
12257  4530700.0
14652  1858950.0
14653   870750.0
14654  1255500.0
14655  2705400.0
14656  4530700.0
Date           0
Open         379
High         383
Low          384
Close        389
Adj Close    388
Volume       394
dtype: int64
initialdataset           Date      Open        High       Low     Close   Adj Close  \
0   1993-06-08  2.000000    2.055556  1.888889  1.944444    1.635053
1   1993-06-09  2.000000    2.222222  1.944444  2.194444    1.845275
2   1993-06-10  2.250000    2.333333  2.055556  2.111111    1.775201
3   1993-06-11  2.083333    2.277778  2.083333  2.250000    1.891991
4   1993-06-14  2.305556    2.333333  2.222222  2.333333    1.962063
5   1993-06-15  2.333333    2.333333  2.194444  2.208333  280.970224
6   1993-06-16  2.250000    2.305556  2.194444  2.305556    1.938708
7   1993-06-17  2.305556    2.361111  2.250000  2.305556    1.938708